/* app.css */
html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #282c34;
}

#list-title {
  font-weight: 700;
  font-size: .6rem;
}

.desktop-navbar {
  margin: 1.3ch;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-list {
  display:  flex;
  gap: 3vw;
  list-style-type: none;
  font-weight: 600;
}

.footerLemon {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18vh;
  padding: 1vw;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: antiquewhite;
  font-size: .5rem;
  transition: bottom 0.3s; 
}

.footer1 {
  display: flex;

}

.footer-list {
  list-style-type: none;
}

.footer-logo {
  max-width: 7vw;
  max-height: 12vh;
  margin: 2vh;
}

/* Adjust the media queries to work with the responsive hamburger menu */
@media screen and (max-width: 768px) {
  .mobile-navbar {
    margin: 1.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-main-logo {
    height: 3vh;
  }

  .navbar-shopp-logo {
    height: 3vh;
  }

  .navbar-list {
    display: none; /* Initially hide the desktop menu on mobile */
  }

  #list-title {
    font-weight: 600;
    font-size: 2vw;
  }

  .footer-logo {
    max-width: 5vw;
    max-height: 20vh;
  }

  .footerLemon {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    padding: 1vh;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 1.5vw;
    transition: bottom 0.3s; 
    z-index: -100;
  }
}
